<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>op-in(PW)</title>
</head>
<body>
  <div style="
      width: 400px;
      height: 200px;
      margin: 100px auto;
      text-align: center;
      padding: 20px;
  ">
    <body >
      <h1>Op-in 임시 비밀번호</h1>
      <hr>
      <h3 style="
      display: inline-block;
      margin-top: 20px;
      "> 임시 비밀 번호 : 000000</h3>
    </body>
  </div>
  </body>
</html>